body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Courier New', sans-serif;
}
main {
    flex: 1 0 auto;
}

li:hover {
    transition: all 0.3s ease
}

nav {
    position: fixed;
}

.parallax-container {
    margin-top: 40px;
    min-width: 100%;
}

#something  {
    margin-top: 40px;
}

#working {
    transition: all 0.3s ease;
}

.list-post {
    max-width: 400px;
    height: 500px;
    background-color: white;
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.list-post {
    max-width: 400px;
    height: 500px;
    background-color: white;
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.list-postC {
    max-width: 400px;
    height: 500px;
    background-color: red;
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.morebuttons {
    text-align: center;
}

.complete {
    margin-bottom: 10px;
}

#list {
    margin-top: 40px;
}

header {
    z-index: 2;
}